<div class="fields">
  <div class="form-group">
  <%= text_f f, :device_name, :class => "col-md-2", :placeholder => _('path, e.g: /dev/sdb1') %>
  <%= checkbox_f f, :delete_on_termination, :label => _('Ephemeral')   %>
  <%= select_f f, :volume_id, compute_resource.volumes, :uuid, :name, :class => "col-md-2", :placeholder => _("Choose volume/image") %>
    <%= remove_child_link 'X', f, {}, :title => _('remove block') } %>
  </div>
</div>
